/*
	CSS Rules:
	Syntax:
		Selector {
			Property: value;
		}
*/

h1 {
	color: yellow !important;
}

/*1. UNIVERSAL SELECTOR*/
/*CSS Reset & Change font of every element in HTML*/

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*{
	font-family: "courier new", monospace;
	font-size: 20px;
}

/*2. TYPE SELECTOR*/

body {
	background-color: skyblue;
}

/*3. ATTRIBUTE SELECTOR*/

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*4. CLASS SELECTOR*/

.offering-item {
	text-transform: uppercase;
}

/*5. ID SELECTOR*/
/*h3{
	letter-spacing: 10px;
}
*/
#zuitt-motto{
	letter-spacing: 5px;
}

/*CSS SELECTOR COMBINATORS*/

/*ADJACENT SIBLING SELECTOR*/
/*
	sibling_element + target_element {
		property: value;
	}
*/

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*GENERAL SIBLING SELECTOR*/
/*
	sibling_element ~ target_element {
		property: value;
	}
*/

h2 ~ a, a {
	text-decoration: none;
}

/*CHILD SELECTOR*/
/*
	selector 1 > selector 2 {
		property: value;
	}
*/

form > label {
	color: rgb(0, 0, 128);
}

/*DESCENDANT SELECTOR*/
/*
	selector 1 selector 2 {
		property: value;
	}
*/

#bootcamp-learning-list li {
	color: #075966;
}

html {
	scroll-behavior: smooth;
}

/*Navigation Bar*/

nav {
	background-color: white;
}

/*Selector: hover pseudo class*/
/*Changes the style when hovered over*/
a:hover {
	background-color: #b4d6de;
}

/*Div for the navigation bar*/
div {
	display: inline-block;
	float: right;
}

/*Landing section and form section*/
section {
	height: 100vh;
	text-align: center;
}

/*Welcome to Zuitt and Register*/

h2 {
	font-size: 1.5rem;
}

/*List remove number*/

li {
	list-style-type: none;
}

/*Register Form*/
form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}