* {
	font-family: Verdana, sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 26px;
}

#p3 {
	color: yellow;
}

#header2 {
	text-transform: uppercase;
}

.list1 {
	background-color: lightgreen;
}

[id*="item"] {
	border: 1px solid blue;
}

img + ul {
	list-style-type: none;
}

section img {
	height: 100px;
	width: 100px;
	border-radius: 150px;
}

h4 ~ p {
	text-align: center;
}

ul > li {
	letter-spacing: 7px;
}